@import url(/static/components/codemirror/addon/lint/lint.css);
@import url(/static/components/codemirror/addon/fold/foldgutter.css);
@import url(/static/components/codemirror/addon/scroll/simplescrollbars.css);
@import url(../lib/inlet/inlet.css);
.livecoding .livecoder iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.livecoding .livecoder .livecoder-in-row > div .CodeMirror {
  height: 40vh;
}
